html{
    height: 100%;
    margin: 10px;
}
body{
    height: 100%;
    background-color: rgb(255, 253, 246);
    background-image: url(../Petimages/body-background.png);

    background-repeat: no-repeat;
    background-size: 350px;
    background-position-x: 155vh;
    background-position-y: 55vh;
}

#root{
    height: 100%;
    display: grid;
    grid-template-rows: 80px 70px 1fr 70px;
    grid-template-columns: 200px 1fr;  
    grid-template-areas: 
    "header header"
    "nav nav"
    "body body"
    "footer footer";
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ol{
    list-style: none;
    padding: 0;
    margin-top: 16px;
}

a{
    color: initial;
    text-decoration: initial;
}

.img{
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
}

.d-none{
    display: none !important;
}
/* ---------------------header--------------------- */
#root>#header{
    /* background-color: antiquewhite; */
    grid-area: header;
}
    .float-content{
        position: relative;
    }

        .logo{
            margin: 0;
            display: inline-block;
            position:absolute;

            width: 150px;
            height: 100%;

        }

            img{
                width: 150px;
                height: auto;
            }


/* ---------------------nav--------------------- */            
#nav{
    background-color: antiquewhite;
    grid-area: nav;
    font-family: sans-serif;
    font-weight: bold;
}
    #nav ul{
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }


/* ---------------------body--------------------- */  
#body{
    display: grid;
    grid-area: body;
    grid-template-areas:
    "aside main .";
    grid-template-columns: 200px 6fr 1fr;   
}

#aside{
    background-color: antiquewhite;
    grid-area: aside;
    width: 200px;
    height: 71vh;
}


    .aside-menu > h1{
        color:#5c5c5c;
        font-size:17px;
        font-weight: bold;
        margin: 0;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .aside-menu ul{
        width: 100%;
        background-color: rgb(250,235,215);

        
      }
      
        .aside-menu li a {
            width: 100%;
            padding: 13px 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            }
            
        .aside-menu .active {
            background-color: rgb(255, 209, 124);
            color: rgb(141, 135, 135);
            padding: 8px 16px;
            }
            
        .aside-menu li a:hover:not(.active) {
            background-color: rgb(255, 209, 124);
            color: rgb(141, 135, 135);
            
            }

    /* -------------------------------- */
#main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .record{
        border: none;
        padding: 0;
        height: 60vh;
        width: 754.4px;
        
        display: flex;
        position: relative;
        justify-content: center;
        
    }

        .record-table{
            background-color: antiquewhite;
            height: 452px;
            width: 100vh;
            font-family: sans-serif;
            font-weight: bold;
            border-radius: 10px;
            border-collapse: collapse;
            table-layout: fixed;
            text-align: center;

            display: flex;

            align-items: center;
            justify-content: space-evenly;
        }

            .record-title{
                padding: 7px 7px 7px 7px;
                font-size: 20px;
                color: rgb(82, 82, 82);
                background-color: rgb(255, 226, 188);
                background-size: 5vh;
                border-radius: 10px;

                position: absolute;
                top: 2vh;
                left: 42vh;
            }

            thead{
                position: absolute;
                top: 10vh;
                left: 8.5vh;
            }
            tbody{
                font-size: 17px;

                position: absolute;
                top: 15vh;
                height: 280px;
                overflow-x: hidden;
                overflow-y: scroll;
            }
            
                .record-table td{
                    width: 200px;
                    height: 37px;
                }
            
            .down{
                color: rgb(126, 126, 255);
            }
            
            .up{
                color: rgb(255, 121, 97);
            }




/* ---------------------footer--------------------- */
#root>#footer{
    /* background-color: antiquewhite; */
    grid-area: footer;
}


@media screen and (max-width:500px){
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 80px 50px 1fr 70px;
        grid-template-areas: 
        "header"
        "nav"
        "body"
        "footer";
    }
    #body{
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }

} 